<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>钟表_指针动画_图标_指针.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,40}</string>
			<key>spriteSourceSize</key>
			<string>{20,40}</string>
			<key>textureRect</key>
			<string>{{120,0},{20,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>钟表_指针动画_图标_时钟.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{0,0},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>钟表_指针动画.webp</string>
		<key>size</key>
		<string>{140,120}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>钟表_指针动画.webp</string>
	</dict>
</dict>
</plist>
